section {
  background: #b6d7de;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 6px;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  border-radius: 5px;
  padding: 15px 15px;
  color: #333;
  border: 1px solid #fcedda;
  font-size: 20px;
}

.example {
  font-size: 12px;
  color: #333;
  margin-top: 6px;
  margin-bottom: auto;
}
